/* 编写根布局组件下需要覆盖的样式 */
.bookmarks {
    .aside{
        max-width: 100px;
    }
    .content-container,
    .content {
        max-width: 100% !important;
    }
    .vp-doc h2 {
        margin-top: 24px;
    }

    .vp-doc a {
        text-decoration-line: none;
      }
}


.bookmarks-bak {
    /* 覆盖全局的 vp-layout-max-width（仅当前页面使用） */
    --vp-layout-max-width: 1660px;

    /* layout 样式 */
    .container {
        max-width: var(--vp-layout-max-width) !important;
    }

    .content-container,
    .content {
        max-width: 100% !important;
    }

    /* aside 样式 */
    .aside {
        padding-left: 0;
        max-width: 160px;
    }

    .content {
        padding-bottom: 32px;

        .VPDocFooter {
            display: none;
        }
    }

    /* tip */
    .tip {
        .custom-block-title {
            display: none;
        }

        p {
            margin: 0;
        }
    }

    .vp-doc h2 {
        margin-top: 24px;
    }

    .vp-doc a {
        text-decoration-line: none;
      }
}

// 导航栏不显示
.delete-nav{
    .VPNav{
        display: none;
    }
}


.code-box{
    display: flex;
    .be-from{
        a{
            text-decoration-line: none;
            color: rgb(70, 70, 70);
        }
        border: 1px solid rgb(91, 91, 91);
        width: 4rem;
        text-align: center;
        border-radius: 0.8rem;
        margin: 0;
        font-size: 0.8rem;
        cursor: pointer;
        &:hover{
            background-color: rgb(91, 91, 91);
            a{
                color: aliceblue;
            }
        }
    }
    .vue-code{
        a{
            text-decoration-line: none;
            color: rgb(70, 70, 70);
        }
        border: 1px solid rgb(91, 91, 91);
        width: 8rem;
        text-align: center;
        border-radius: 0.8rem;
        margin: 0;
        font-size: 0.8rem;
        cursor: pointer;
        margin-left: 0.2rem;
        &:hover{
            background-color: #42b883;;
            border-color: #42b883;
            a{
                color: aliceblue;
            }
        }
    }
}

